.git
.github
.claude
.vscode
.idea
.fleet
.nova
.zed

node_modules
vendor

public/build
public/hot
bootstrap/ssr

storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/pail
database/database.sqlite

.env
.env.*
!.env.example

tests
.phpunit.cache
.phpunit.result.cache
